.App {
  text-align: center;
  background-color: #191919;
  padding: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.App input[type="email"], input[type="text"] {
  border: 2px solid white;
  width: 100%;
  font-size: 1em;
  margin: 1em 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn {
  background: #fff;
  color: #8a8481;
  border: 0;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: 5px;
  margin-bottom: 2em;
  transition: 150ms transform;
}

.btn:hover {
  transform: scale(1.05);
}

.App main {
  max-width: 800px;
  min-width: 70vw;
  margin: 0 auto;
  background: #3f3e44;
  padding: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.App form fieldset {
  border: 0;
}

.App form label {
  display: block;
}

.App form label.radiobutton {
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  width: 28px;
  height: 28px;
  position: relative;
  display: inline-block;
  margin: 1em;
  border-radius: 50%;
}

.App form label.radiobutton::before {
  content: '';
  background: #282c34;
  position: absolute;
  top: 7px;
  left: 7px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transform: translateY(-28px);
  transition: 150ms transform ease-out;
}

.App form label.radiobutton.active::before {
  transform: translateY(0px);
}

.App form label.radiobutton input[type=radio] {
  position: absolute;
  left: -30px;
}

.progress-bar {
  background: #fff;
  height: 6px;
  left: 0;
  position: fixed;
  top: 0;
  transition: 150ms width;
  z-index: 100;
}

.progress-text {
  position: fixed;
  top: 0;
  left: 0px;
  margin: 0.6em;
  background: white;
  color: #8a8481;
  padding: 5px;
  opacity: 0;
  transition: 300ms opacity;
}

.progress-text.active{
  opacity: 1;
}

.error-text {
  opacity: 0;
  color: #d99e9e;
  transition: 300ms opacity;
}

.error-text.active {
  opacity: 1;
}

.dropdown {
  position: relative;
  display: block;
  color: #767676;
  margin-top: 10px;
}

.dropdown > div {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  background: #fff;
  box-sizing: border-box;
}

.dropdown.open > div {
  box-shadow: 0 0 4px #93c7ff;
}

.dropdown > div span {
  float: right;
  margin-left: 10px;
  display: inline-block;
  color: #666;
  font-size: 0.8em;
}

.dropdown > div span.chevron {
  transform: rotate(0deg);
  transition: 200ms transform;
}

.dropdown.open > div span.chevron {
  transform: rotate(180deg);
}

.dropdown  ul {
  position: absolute;
  top: 1.5em;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: 200ms transform ease-out;
  perspective: 800px;
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.open ul {
  transform: rotateX(0deg);
}

ul li {
  padding: 15px 10px;
  cursor: pointer;
}

ul li.active {
  background: #eee;
}

ul li .checkmark {
  color: #93c7ff;
  float: right;
}

.email-result {
  text-align: left;
  margin-top: 2em;
}

.email-result .dropdown > div, .email-result .btn, .email-result input[type=text] {
  width: 100%;
  font-size: 1em;
}

.questions {
  position: relative;
  min-height: 20vh;
}

.question {
  transform: translateX(150%);
  transition: 300ms transform;
  transition-delay: 300ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.question.active {
  transform: translateX(0%);
}

.question.done {
  transform: translateX(-150%);
}
